.spin-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}
.spin-loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--primary);
  border-radius: 50%;
  animation: spin-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--primary) transparent transparent transparent;
}
.spin-loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.spin-loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.spin-loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes spin-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
