.not-found-container {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.not-found-container h1 {
  font-size: 48px;
  font-weight: bolder;
}

.not-found-container h2 {
  font-size: 32px;
  font-weight: bold;
}
