.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 45%;
  height: 55px;
}

.search-box input {
  height: 55px;
  width: 85%;
  font-size: 22px;
  padding: 8px;
  margin: 0;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px 0 0 5px;
}

.search-box input:focus {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.search-box button {
  height: 73px;
  width: 15%;
  border: 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0 5px 5px 0;
  background: black;
}

.search-box img {
  height: 32px;
}

.search-result {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-result-card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  border-radius: 5px;
  margin-top: 55px;
  padding: 22px;
  width: 40%;
}

.weather-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 28px;
}

.city-name {
  font-size: 32px;
  font-weight: bolder;
}

.weather-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weather-icon-container span {
  font-size: 26px;
  font-weight: 600;
}

.weather-details {
  font-size: 22px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 22px;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  color: red;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .search-box {
    width: 85%;
  }

  .search-result-card {
    width: auto;
  }
}
