.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  margin: 0 5%;
}

.table-container table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 1.2rem;
}

.table-container td,
.table-container th {
  text-align: left;
  padding: 8px;
}

.table-container tr:nth-child(even) {
  background-color: #dddddd;
}

.table-overflow-container {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .table-container {
    margin: 0;
    width: 100vw;
  }

  .table-overflow-container {
    overflow-y: scroll;
  }
}