.modal-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-body {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.modal-content {
  font-size: 18px;
}

.modal-action {
  width: fit-content;
  align-self: flex-end;
}
