.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  gap: 2%;
}

.profile-image {
  vertical-align: middle;
  width: 18%;
  border-radius: 50%;
}

.profile-name {
  font-size: 32px;
  font-weight: 500;
}

.profile-email {
  font-size: 22px;
  font-weight: 400;
}
