.header {
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
  padding: 1rem 4rem;
  background-color: #f7f9fb;
}

.logo-container {
  width: 5rem;
}

.logo-container img {
  width: -webkit-fill-available;
  width: -moz-available;
}

.dropdown-container {
  margin-left: auto;
}

.links-container {
  display: flex;
  gap: 25%;
  text-anchor: unset;
  font-size: 18px;
}

.links-container a {
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  color: var(--primary);
}

.links-container a:hover{
  background-color: var(--primary-hover);
}

.dropdown-content .dropdown-for-sm a {
  display: none;
  text-decoration: none;
  color: var(--primary);
}

@media only screen and (max-width: 600px) {
  .links-container {
    display: none;
  }

  .dropdown-content {
      height: auto !important;
  }

  .dropdown-content .dropdown-for-sm a {
    display: block;
  }
}
