.login-container {
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.login-card {
  border-radius: 12px;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-instruction {
  font-size: 32px;
  color: var(--primary);
}

.google-button {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  background-image: url('../../assets/google_logo.svg');
  background-color: var(--primary);
  background-repeat: no-repeat;
  background-position: 12px 11px;
  cursor: pointer;
}
.google-button:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.google-button:active {
  background-color: #eee;
}
